---
pagination:
  data: categories
  size: 1
  alias: categories
categories:
 - arts
 - etc
 - film
 - music
 - news
 - technology
 - travel
title: Category archive
permalink: "categories/{{ categories | slugify }}/"
eleventyExcludeFromCollections: "true"
---
{%- for item in pagination.items %}
    <h1>Category archive: “{{ item }}” </h1>
    {% set counter = 0 %}
    {% for post in collections.posts %}
        {% if post.data.categories == item %}
            {% set counter = counter +1 %}
        {% endif %}
    {% endfor %}
    {% set counter = counter +1 %}
    <ol reversed class="postlist" style="--postlist-index: {{ counter }}">
    {%- for post in collections.posts | reverse %}
        {% if post.data.categories == item %}
            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        <div class="byline">
            <i class="fa-solid fa-calendar"></i>{{ post.data.date | readableDate("LLLL d yyyy") }}
            <i class="fa-solid fa-folder"></i>
            {% for category in post.data.categories %}
                <a href="/categories/{{ category | slugify }}"> {{ category }}</a>
                {%- if not loop.last %}, {% endif %}
            {% endfor %}
            {% for tag in post.data.tags | filterTagList %}
            {% if loop.first %}
            <i class="fa-solid fa-tags"></i>
            {% endif %}
            <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
            {%- if not loop.last %}, {% endif %}
            {% endfor %}		
        </div>
        <p></p>
        {% endif %}
    {%- endfor %}
    </ol>
{% endfor -%}

<p>See <a href="/categories/">all categories</a>.</p>