---
layout: false
pagination:
    data: collections.posts
    size: 1
    alias: wonder
eleventyExcludeFromCollections: "true"
title: Page has moved
permalink: "/{{ wonder.data.title | slugify }}/index.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url=/blog/{{ wonder.data.title | slugify }}/">
    <title>Page has moved</title>
</head>
<body>
    <p>This page has moved, now re-directing you to <a href="/blog/{{ wonder.data.title | slugify }}/">/blog/{{ wonder.data.title | slugify }}/</a>
</body>
</html>