---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>
<h1>{{ title }}</h1>

{# <ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul> #}


<div class="byline">
{# This sets the post date in the byline #}
<i class="fa-solid fa-calendar"></i> {{ date | readableDate("LLLL d yyyy") }} 


{# This sets the categories; every post should have at least one #}
<i class="fa-solid fa-folder"></i>
{% for category in categories %}
	<a href="/categories/{{ category | slugify }}"> {{ category }}</a>
	{%- if not loop.last %}, {% endif %}
{% endfor %}

{# This sets the tags; the first line checks if they exist bc not all posts need them #}
{% for tag in tags | filterTagList %}
		{% if loop.first %}
		<i class="fa-solid fa-tags"></i>
		{% endif %}
		<a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
		{%- if not loop.last %}, {% endif %}
{% endfor %}
</div>

{{ content | safe }}

<hr>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
